{% extends 'base/base.html' %}

{% block page_content %}
<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        {% if obj %} Editar {% else %} Nueva {% endif %} Categoría
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" placeholder="Nombre de la categoría"
                                value="{% if obj %} {{ obj.descripcion }} {% endif %}">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="id_estado">Estado</label>
                                <input type="checkbox" name="estado" class="form-control" id="id_estado"
                                {% if obj.estado %} checked {% endif %} >
                            </div>
                        </div> 
                        <!-- {{ form.as_p }} -->
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-warning"><span class="fa fa-save"></span> Guardar</button>
                            <a href="{% url 'inv:categoria_list' %}" class="btn btn-danger"><span class="fa fa-undo"></span> Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js_page %}
<script>

$(function() {
    // Configura el formulario para usar AJAX
    $("form").submit(function(e) {
        e.preventDefault();
        var formData = $(this).serializeArray();
        var url = $(this).attr("action") || "{% if obj %}{% url 'inv:categoria_edit' obj.pk %}{% else %}{% url 'inv:categoria_new' %}{% endif %}";
        var token = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            url: url,
            method: "POST",
            headers: {'X-CSRFToken': token},
            data: formData
        })
        .done(function(r, textStatus, xhr) {
            if (xhr.status == 200) {
                {% if obj %}
                    mensaje("Categoria EDITADA con éxito", function() {
                        location.reload();
                    });
                {% else %}
                    mensaje("Categoria guardada con éxito", function() {
                        window.location.href = "{% url 'inv:categoria_list' %}";
                    });
                {% endif %}
            }
        })
        .fail(function(error) {
            // FUNCION
            if (error.status === 400 && error.responseJSON) {
                var errors = error.responseJSON;
                for (var field in errors) {
                    if (errors.hasOwnProperty(field)) {
                        var errorMsg = errors[field][0].replace("__all__: ", "");
                        mensaje(errorMsg);
                    }
                }
            } else {
                mensaje(error.responseText || "Error desconocido");
            }
        });
    });
});
</script>
{% endblock %}

